<div class="card-container" [ngClass]="{ 'card-selected': selected }">
    <!-- <er-badge
  [inputData]="workerModel.id.toString()"
  [width]="'60px'"
  [height]="'80%'"
  >
  </er-badge> -->
    <ng-container *ngIf="productModel && productModel.code">
        <er-badge [inputData]="productModel.code.toString()" [width]="'60px'" [height]="'80%'"> </er-badge>
    </ng-container>

    <div class="item-property-container">
        <span class="property-title">{{ messages.name }}</span>
        <span class="property-text">{{ productModel.name }}</span>
    </div>

    <div class="item-property-container">
        <span class="property-title">{{ messages.unitValue }}</span>
        <span class="property-text">{{ productModel.unitValue }}</span>
    </div>

    <div class="item-property-container">
        <span class="property-title">{{ messages.unitCost }}</span>
        <span class="property-text">{{ productModel.cost }}</span>
    </div>
</div>
