<div class="card-container" [ngClass]="{ 'card-selected': selected }">
    <!-- <er-badge
  [inputData]="workerModel.id.toString()"
  [width]="'60px'"
  [height]="'80%'"
  >
  </er-badge> -->

    <div class="item-property-container">
        <span class="property-title">{{ messages.name }}</span>
        <span class="property-text">{{ workerFlatModel.name }}</span>
    </div>

    <div class="item-property-container">
        <span class="property-title">{{ messages.email }}</span>
        <span class="property-text">{{ workerFlatModel.email }}</span>
    </div>

    <div class="item-property-container">
        <span class="property-title">{{ messages.cpf }}</span>
        <span class="property-text">{{ workerFlatModel.cpf }}</span>
    </div>

    <div class="item-property-container">
        <span class="property-title">{{ messages.phone }}</span>
        <span class="property-text">{{ workerFlatModel.phoneNumber }}</span>
    </div>

    <div class="item-property-container">
        <span class="property-title">{{ messages.type }}</span>
        <span class="property-text">{{ workerFlatModel.type }}</span>
    </div>
</div>
