@import '../../shared-styles/colors-and-default-styles.scss';

.home-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $bg_home;

    .login-card {
        width: 500px;
        height: 350px;
        border-radius: $card-radius10;
        background-color: $card-background10;
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0px 100px;
        position: relative;

        .form-title {
            color: $white10;
            font-size: 35px;
            font-weight: 800;
            margin-bottom: 15px;
        }

        .submit {
            width: 100px;
        }

        .error-message{
            font-size: 0.7rem;
            color: $red10;
            position: absolute;
            bottom: 15px
        }
    }
}
