<div class="home-container">
  <div class="login-card shadow-m">

    <span class="form-title">Login</span>

    <mat-form-field class="example-full-width" color="accent" appearance="standard">
      <mat-label>USERNAME</mat-label>
      <input matInput [(ngModel)]="userName" name="userName"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" >
    </mat-form-field>

    <mat-form-field class="example-full-width" color="accent" appearance="standard">
      <mat-label>PASSWORD</mat-label>
      <input matInput [(ngModel)]="userPassword" name="userPassword"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" >
    </mat-form-field>

    <button mat-raised-button color="accent" class="submit">Submit</button>

  </div>
</div>
