<form
    class="home-container"
    #f="ngForm"
    (ngSubmit)="login()"
>
    <div class="login-card shadow-m">
        <span class="form-title">Login</span>

        <mat-form-field class="example-full-width" color="accent" appearance="standard">
            <mat-label>Usuário</mat-label>
            <input
                matInput
                [(ngModel)]="userName"
                required
                name="userName"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
            />
            <button *ngIf="userName" matSuffix mat-icon-button aria-label="Clear" (click)="userName = ''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-form-field class="example-full-width" color="accent" appearance="standard">
            <mat-label>Senha</mat-label>
            <input
                matInput
                type="password"
                name="userPassword"
                [(ngModel)]="userPassword"
                required
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
            />
            <button
                *ngIf="userPassword"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="userPassword = ''"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <button
            mat-raised-button
            color="accent"
            class="submit"
            [disabled]="!canSubimit"
        >
            Submit
        </button>
        
        <ng-container
            *ngIf="mustDisplayLoginErrorMessage"
        >
            <span
                class="error-message"
            >
                {{ loginErrorMessage }}
            </span>
        </ng-container>

        <ng-container
            *ngIf="mustDisplayLoadingBar"
        >

            <mat-progress-bar
                color="accent"
                mode="query"
            >
            </mat-progress-bar>
        </ng-container>
    </div>
</form>
