@import '../../../../shared-styles/colors-and-default-styles.scss';


::ng-deep .mat-dialog-container {
    padding: 0px;
    overflow: none !important;
    border-radius: $card-radius10;
}

$title-height: 40px;
$basic-info-height: 70px;
$revenue-list-height: $basic-info-height;
$dialog-container-gap: 15px;
.dialog-container {
    height: 100%;
    width: 100%;
    background-color: $card-background10;
    box-sizing: border-box;
    box-shadow: $shadow10;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:$dialog-container-gap;
    
    .dialog-title{
        height: $title-height;
        width: 100%;
        border-bottom: 2px solid $green10;
        display: flex;
        
        span{
            font-size: 1.2rem;
            font-weight: 500;
            color: $green10;
        }
    }

    .basic-info-container,.revenue-list-container{
        height: $basic-info-height;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .info-field{
            border-radius: 4px;
            border: 2px solid $gray10;
            box-sizing: border-box;
            padding: 15px;
            height: 80%;
            width: 170px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;

            .info-label{
                font-size: 0.8rem;
                color: $gray10;
                font-weight: 500;
            }
            
            .info-value{
                font-size: 1.0rem;
                color: $white10;
                font-weight: 500;
            }
            
            .positive-revenue{
                color: $green10;
            }

            .negative-revenue{
                color: $red10;
            }

            &.arrow{
                align-items: center;
                border: none;

                $arrow-icon-size:70px;
                mat-icon{
                    font-size: $arrow-icon-size;
                    height: $arrow-icon-size;
                    width: $arrow-icon-size;
                    color: $gray10;
                }
            }
        }
    }
    
    .products-list-container{
        width: 100%;
        height: calc(100% - #{
            $basic-info-height + 
            $revenue-list-height +
            (2 * $title-height) + 
            (5 * $dialog-container-gap)
        });
        overflow-y: auto;

        table{
            width: 100%;
            background: transparent;
            box-shadow: none;
        }
    }
    
}