<div class="dialog-container">

        <div class="dialog-title">
            <span>{{ translateKey.invoiceInfo }}</span>
        </div>
    
        <div class="basic-info-container">

            <div class="info-field">
                <span class="info-label"> {{ translateKey.clientName }} </span>
                <span class="info-value ellipse">{{ data.clientName }}</span>
            </div>
           
            <div class="info-field">
                <span class="info-label"> {{ translateKey.attendant }} </span>
                <span class="info-value ellipse">{{ data.worker.name }}</span>
            </div>
            
            <div class="info-field">
                <span class="info-label"> {{ translateKey.total }} </span>
                <span class="info-value ellipse">{{'R$ ' + totalValue.toFixed(2)}}</span>
            </div>
            
            <div class="info-field">
                <span class="info-label"> {{ translateKey.tenPerCent }} </span>
                <span class="info-value ellipse">{{'R$ ' + getTenPerCentOfTotalValue()}}</span>
            </div>
            
            <div class="info-field">
                <span class="info-label"> {{ translateKey.totalWithTenPerCent }} </span>
                <span class="info-value ellipse">{{'R$ ' + getTotalValueWithTenPerCent()}}</span>
            </div>

        </div>

        <div class="dialog-title">
            <span>{{ translateKey.revenuePlural }}</span>
        </div>

        <div class="revenue-list-container">

            <div class="info-field">
                <span class="info-label"> {{ translateKey.revenue }} </span>
                <span class="info-value positive-revenue ">{{'R$ ' + getTotalValueWithTenPerCent()}}</span>
            </div>
            
            <div class="info-field arrow">
                <mat-icon>arrow_right_alt</mat-icon>
            </div>

            <div class="info-field">
                <span class="info-label"> {{ translateKey.expense }} </span>
                <span class="info-value negative-revenue">{{'R$ -' + getInvoiceExpense()}}</span>
            </div>

            <div class="info-field arrow">
                <mat-icon>arrow_right_alt</mat-icon>
            </div>
            
            <div class="info-field">
                <span class="info-label"> {{ translateKey.balance }} </span>
                <span class="info-value positive-revenue">{{'R$ ' + getInvoiceBalance()}}</span>
            </div>   

        </div>

        <div class="dialog-title">
            <span> {{ translateKey.products }} </span>
        </div>
        
        <ng-container 
            *ngIf="invoiceItems.length > 0"
        >
            <div class="products-list-container">
                <table mat-table [dataSource]="invoiceItems" class="mat-elevation-z8">
                  
                    <!-- productName Column -->
                    <ng-container matColumnDef="productName">
                      <th mat-header-cell *matHeaderCellDef> {{ translateKey.name }} </th>
                      <td mat-cell *matCellDef="let invoiceItemModel"> {{invoiceItemModel.product.name}} </td>
                    </ng-container>
                  
                    <!-- quantity Column -->
                    <ng-container matColumnDef="quantity">
                      <th mat-header-cell *matHeaderCellDef> {{ translateKey.quantity }} </th>
                      <td mat-cell *matCellDef="let invoiceItemModel"> {{invoiceItemModel.quantity}} </td>
                    </ng-container>
                  
                    <!-- unitValue Column -->
                    <ng-container matColumnDef="unitValue">
                      <th mat-header-cell *matHeaderCellDef> {{ translateKey.unitValue }} </th>
                      <td mat-cell *matCellDef="let invoiceItemModel"> {{'R$ ' + invoiceItemModel.unitValue.toFixed(2)}} </td>
                    </ng-container>
                  
                    <!-- cost Column -->
                    <ng-container matColumnDef="cost">
                      <th mat-header-cell *matHeaderCellDef> {{ translateKey.cost }} </th>
                      <td mat-cell *matCellDef="let invoiceItemModel"> {{'R$ ' + invoiceItemModel.cost.toFixed(2)}} </td>
                    </ng-container>
                   
                    <!-- total Column -->
                    <ng-container matColumnDef="total">
                      <th mat-header-cell *matHeaderCellDef> {{ translateKey.total }} </th>
                      <td mat-cell *matCellDef="let invoiceItemModel"> {{'R$ ' + (invoiceItemModel.quantity * invoiceItemModel.unitValue).toFixed(2)}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  
            </div>
        </ng-container>
</div>
