<div class="dialog-container">
    <form class="form">
        <span class="dialog-title">
            {{ messages.editCheckManagementSettings }}
        </span>

        <!-- Table quantity -->
        <mat-form-field class="input" color="accent" appearance="standard">
            <mat-label>{{ messages.totalTables }}</mat-label>
            <input
                matInput
                acceptOnlyIntPositiveNumbers
                [(ngModel)]="checkManagementSetting.totalTables"
                name="totalTables"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
            />
            <button
                *ngIf="checkManagementSetting.totalTables"
                matSuffix mat-icon-button
                aria-label="Clear"
                (click)="checkManagementSetting.totalTables = 0"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
      
        <!-- IndividualChecks quantity -->
        <mat-form-field class="input" color="accent" appearance="standard">
            <mat-label>{{ messages.totalIndividualChecks }}</mat-label>
            <input
                matInput
                acceptOnlyIntPositiveNumbers
                [(ngModel)]="checkManagementSetting.totalIndivudlaChecks"
                name="totalIndivudlaChecks"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
            />
            <button
                *ngIf="checkManagementSetting.totalIndivudlaChecks"
                matSuffix mat-icon-button
                aria-label="Clear"
                (click)="checkManagementSetting.totalIndivudlaChecks = 0"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

    </form>

    <footer class="footer-container">
        <button mat-raised-button class="btn" (click)="onCancel()">Voltar</button>
        <button mat-raised-button color="accent" class="btn" (click)="onSave()">
            {{ messages.edit }}
        </button>
    </footer>
</div>
