<div class="individual-check-container">
    
    <ng-container 
        *ngIf="!individualCheck.isActive"
    >
        <img class="table-img" src="../../../../../../assets/icons/card-green.png" />
    </ng-container>

    <ng-container 
        *ngIf="individualCheck.isActive"
    >
        <img class="table-img" src="../../../../../../assets/icons/card-orange.png" />
    </ng-container>
    
    <span
        class="individual-check-number"
        [class.individual-check-active]="individualCheck.isActive"
    >
        {{ individualCheck.number }}
    </span>
</div>
