@import '../../../../../shared-styles/colors-and-default-styles.scss';

.individual-check-container {
    height: inherit;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: $card-background10;
    border-radius: $card-radius10;

    .table-img {
        height: 37px;
        width: 48px;
    }

    .individual-check-number {
        color: $green10;
    }

    .individual-check-active {
        color: $orange10;
    }
}

.individual-check-container:hover {
    cursor: pointer;
}
