.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    .input {
        width: 100%;
        position: relative;
        bottom: 6px;
    }

    .select {
        position: relative;
        bottom: 6px;
    }
}
