<div
    class="dialog-container"
>
    <div
        class="form"
    >
        <mat-icon
            [ngClass]="
                {
                    'warning-icon': styleToUse === 'warn',
                    'info-icon': styleToUse === 'info'
                }
            "
        >
            info
        </mat-icon>
        <span
            class="message-displayed"
        >
            {{ messageDisplayed }}
        </span>
    
    </div>

    <footer
        class="footer-container"
    >
        <button
            mat-raised-button
            class="btn"
            (click)="onCancel()"
        >
            {{ messages.cancel }}
        </button>
        
        <button
            mat-raised-button
            class="btn"
            [ngClass]="
                {
                    'warning-btn': styleToUse === 'warn',
                    'info-btn': styleToUse === 'info'
                }
            "
            (click)="onConfirm()"
        >
            {{ messages.confirm }}
        </button>
        
    </footer>
</div>
