<div class="type-check-menu-container">
    <div class="buttons-container">
        <button mat-raised-button color="accent" (click)="handleShowManagementTypeChange(true, false)">
            <mat-icon class="material-icons-round icon">home</mat-icon>
            <span class="chield-text">{{ messages.table }}</span>
        </button>

        <button mat-raised-button color="accent" (click)="handleShowManagementTypeChange(false, true)">
            <mat-icon class="material-icons-round icon">fastfood</mat-icon>
            <span class="chield-text">{{ messages.individualCheckCommand }}</span>
        </button>
       
        <button mat-raised-button color="accent" (click)="openSettingDialog()">
            <mat-icon class="material-icons-round icon">settings</mat-icon>
            <span class="chield-text">{{ messages.configuration }}</span>
        </button>
    </div>

    <div class="search-fileds-container">

        <!-- CLIENT NAME FILTER INPUT -->
        <mat-icon color="accent">search</mat-icon>
        <mat-form-field class="input" color="accent" appearance="standard">
            <mat-label>{{ messages.name }}</mat-label>
            <input
                #nameFilterRef
                acceptOnlyLetters
                matInput
                type="text"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                name="nameFilterText"
                spellcheck="false"
                [(ngModel)]="nameFilterText"
                (change)="handleNameFilterTextChange(nameFilterRef.value)"
            />
            <button
                *ngIf="nameFilterText"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="nameFilterText = ''; handleNameFilterTextChange(nameFilterRef.value)"
            >
                <mat-icon class="icon-active-accent">close</mat-icon>
            </button>
        </mat-form-field>
        <!-- /CLIENT NAME FILTER INPUT -->


        <!-- TABLE OR INDIVIDUAL CHECK NUMBER FILTER INPUT -->
        <mat-icon color="accent">search</mat-icon>
        <mat-form-field class="input" color="accent" appearance="standard">
            <mat-label>{{ messages.number }}</mat-label>
            <input
                #numberFilterRef
                acceptOnlyIntPositiveNumbers
                matInput
                type="text"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                name="numberFilterText"
                spellcheck="false"
                [(ngModel)]="numberFilterText"
                (change)="handleNumberFilterTextChange(numberFilterRef.value)"
            />
            <button
                *ngIf="numberFilterText"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="numberFilterText = undefined; handleNumberFilterTextChange(undefined)"
            >
                <mat-icon class="icon-active-accent">close</mat-icon>
            </button>
        </mat-form-field>
        <!-- /TABLE OR INDIVIDUAL CHECK NUMBER FILTER INPUT -->
    </div>

</div>
