@import '../../../../shared-styles/colors-and-default-styles.scss';

.type-check-menu-container {
    height: inherit;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    background-color: $card-background10;
    border-radius: $card-radius10;
    box-shadow: $shadow10;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    .buttons-container {
        display: flex;
        gap: 20px;
    }

    button {
        height: 36px;

        ::ng-deep {
            .mat-button-wrapper {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 108px;
            }
        }

        .icon {
            color: $black10;
            transform: scale(0.8);
            position: relative;
            bottom: 2px;
        }
    }

    .input {
        position: relative;
        bottom: 17px;
    }
}
