<div class="page">
    <er-top-menu></er-top-menu>

    <!-- CONTAINER TO HANDLE LEFT MENU, MIDLLE CONTENT AND RIGHT MENU -->
    <div class="content-container">
        <!-- LEFT SIDE MENU -->
        <management-left-menu></management-left-menu>
        <!-- /LEFT SIDE MENU -->

        <!-- MIDDLE CONTENT -->
        <div class="middle-content-container">
            <type-check-header-menu
                class="type-check-menu"
                [(tableQuantity)]="tableQuantity"
                [(individualCheckQuantity)]="individualCheckQuantity"
                (changeViewManagement)="handleChangeViewManagement($event)"
                (changeFilterText)="handleFilter($event)"
            ></type-check-header-menu>

            <management-tables [hidden]="!showTables" [tableQuantity]="tableQuantity"></management-tables>
        </div>
        <!-- /MIDDLE CONTENT -->

        <!-- RIGHT SIDE MENU -->
        <management-right-menu></management-right-menu>
        <!-- /RIGHT SIDE MENU -->
    </div>
</div>
