<div class="page">
    <er-top-menu></er-top-menu>

    <!-- CONTAINER TO HANDLE LEFT MENU, MIDLLE CONTENT AND RIGHT MENU -->
    <div class="content-container">

        <!-- MIDDLE CONTENT -->
        <div class="middle-content-container">
            <type-check-header-menu
                class="type-check-menu"
                [hasTableActive]="totalOccupiedTables > 0"
                [hasIndividualCheckActive]="totalOccupiedIndividualChecks > 0"
                (changeViewManagement)="handleChangeViewManagement($event)"
                (changeFilterText)="handleFilter($event)"
            ></type-check-header-menu>

            <management-tables
                #managementTablesRef
                [hidden]="!showTables"
                [tables]="tables"
                [numberToFilter]="tableNumberToFilter"
                [nameToFilter]="tableNameToFilter"
                (checkResult)="handleCheckResult($event)"
            ></management-tables>

            <management-individual-checks
                #managementIndividualCheckRef
                [hidden]="!showIndividualChecks"
                [individualChecks]="individualChecks"
                [numberToFilter]="individualCheckNumberToFilter"
                [nameToFilter]="individualCheckNameToFilter"
                (checkResult)="handleCheckResult($event)"
            ></management-individual-checks>
        </div>
        <!-- /MIDDLE CONTENT -->

        <!-- RIGHT SIDE MENU -->
        <management-right-menu
            [totalOccupiedTables]="totalOccupiedTables"
            [maxTablesPermitted]="maxTablesPermitted"
            [totalOccupiedIndividualChecks]="totalOccupiedIndividualChecks"
            [maxIndividualPermitted]="maxIndividualPermitted"
        >
        </management-right-menu>
        <!-- /RIGHT SIDE MENU -->
    </div>
</div>
