<div class="table-container">
    
    <ng-container 
        *ngIf="!table.isActive"
    >
        <img class="table-img" src="../../../../../../assets/icons/dinner-table-green.png" />
    </ng-container>
    
    <ng-container 
        *ngIf="table.isActive"
    >
        <img class="table-img" src="../../../../../../assets/icons/dinner-table-orange.png" />
    </ng-container>
    <span
        class="table-number"
        [class.table-active]="table.isActive"
    >
        {{ table.number }}
    </span>
</div>
