@import '../../shared-styles/colors-and-default-styles.scss';

$menuWidth: 280px;
$menuPadding: 20px 20px;
.page {
    display: flex;
    flex-direction: column;

    .content-container {
        height: calc(100% - 90px);
        width: 100%;
        display: flex;
        justify-content: space-between;


    }
}