/* You can add global styles to this file, and also import other style files */
@import './app/shared-styles/colors-and-default-styles.scss';

html,
body {
    height: 100%;
    width: 100%;
    background-color: $bg_default;
    color: $gray10;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.txt-gray {
    color: $gray10;
}

.txt-white {
    color: $white10;
}

.txt-green {
    color: $green10;
}

.txt-purple {
    color: $purple10;
}

.shadow-m {
    box-shadow: $shadow10;
}

.page {
    height: 100vh;
    width: 100vw;
}

er-top-menu {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: $card-background10;
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: #858585;
    border-radius: 3px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

.my-snackbar-class {
    background-color: $gray15;
    box-shadow: $shadow10;
}

.icon-active-accent:active {
    color: $green10;
}

.disabled {
    cursor: not-allowed;
}

/* Change style of scroll bar */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Cursors */
.cursor-help{
    cursor: help;
}

.cursor-help-hover:hover{
    cursor: help;
}

.cursor-help-active:active{
    cursor: help;
}

.ellipse{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}