<div class="dialog-container">
    <form class="form">
        <span *ngIf="isNew" class="dialog-title">{{ messages.createWorker }}</span>
        <span *ngIf="!isNew" class="dialog-title">{{ messages.editWorker }}</span>

        <!-- Input worker name -->
        <mat-form-field class="input" color="accent" appearance="standard">
            <mat-label>{{ messages.name }}</mat-label>
            <input
                matInput
                acceptOnlyLetters
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                type="text"
                name="workerName"
                [(ngModel)]="worker.name"
            />
            <button *ngIf="worker.name" matSuffix mat-icon-button aria-label="Clear" (click)="worker.name = ''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <!-- Input worker cpf -->

        <mat-form-field class="input" color="accent" appearance="standard">
            <mat-label>{{ messages.cpf }}</mat-label>
            <input
                matInput
                acceptOnlyIntPositiveNumbers
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                type="text"
                name="workerCpf"
                [(ngModel)]="worker.cpf"
            />
            <button *ngIf="worker.cpf" matSuffix mat-icon-button aria-label="Clear" (click)="worker.cpf = ''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <!-- Input worker phone number -->
        <mat-form-field class="input" color="accent" appearance="standard">
            <mat-label>{{ messages.phone }}</mat-label>
            <input
                matInput
                acceptOnlyPhoneNumbers
                name="workerPhoneNumber"
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                type="text"
                spellcheck="false"
                [(ngModel)]="worker.phoneNumber"
            />
            <button
                *ngIf="worker.phoneNumber"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="worker.phoneNumber = ''"
            >
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <!-- Input worker phone email -->
        <mat-form-field class="input" color="accent" appearance="standard">
            <mat-label>{{ messages.email }}</mat-label>
            <input
                matInput
                acceptOnlyEmailChars
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                spellcheck="false"
                type="text"
                name="workerEmail"
                [(ngModel)]="worker.email"
            />
            <button *ngIf="worker.email" matSuffix mat-icon-button aria-label="Clear" (click)="worker.email = ''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <!-- Input worker adress -->
        <mat-form-field class="input" color="accent" appearance="standard">
            <mat-label>{{ messages.address }}</mat-label>
            <input
                matInput
                acceptOnlyAddressChars
                autocomplete="off"
                autocorrect="off"
                autocapitalize="off"
                [(ngModel)]="worker.address"
                type="text"
                name="workerAdress"
                spellcheck="false"
            />
            <button *ngIf="worker.address" matSuffix mat-icon-button aria-label="Clear" (click)="worker.address = ''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <!-- Input worker type -->
        <mat-form-field *ngIf="worker?.function?.id !== null" class="input" color="accent" appearance="standard">
            <mat-label>{{ messages.type }}</mat-label>
            <mat-select [(ngModel)]="worker.function.id" name="workerType">
                <mat-option *ngFor="let function of workerFunctions" [value]="function.id">
                    {{ function.type }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <!-- Dialog Footer -->
    <footer class="footer-container">
        <button mat-raised-button class="btn" (click)="onCancel()">Voltar</button>
        <button *ngIf="isNew" mat-raised-button color="accent" class="btn" (click)="onSave()">
            {{ messages.create }}
        </button>
        <button *ngIf="!isNew" mat-raised-button color="accent" class="btn" (click)="onSave()">
            {{ messages.edit }}
        </button>
    </footer>
</div>
