//@import '../../shared-styles/colors.scss';

$gray: #ffffffad;

$white: #FFFFFF;

$green: #69f0ae;

$purple: #9c27b0;

$black: #000000;

$btn_black: #000000de;

$bg_home: #121212;

$bg_default: #303030;

$shadow: 5px 5px 10px #00000030;

$card-background: #1f1f1f;

$card-radius: 4px;

$card-background-darker: #00062b;
