// Colors
$gray10: #ffffffad;
$gray15: #424242;

$white10: #ffffff;

$green10: #69f0ae;

$purple10: #9c27b0;

$black10: #000000;

$yellow10:#ffd740;

$orange10: #cb994b;

$red10: #F44336;

//buttons
$btn_black10: #000000de;

//Shadows
$shadow10: 5px 5px 10px #00000030;

//Cards
$card-background10: #1f1f1f;
$card-background11: #00062b;
$card-radius10: 4px;

//Pages
$bg_default: #303030;
$bg_home: #121212;

//SnackBar
